{{ form.errors }}
{{ form.non_field_errors }}

{% for item in form %}
    <!--Print those vars exclusive from the form-->
    {% if item.name not in sensor_var_names %}
        {{item}} {{item.label}} <br>
    {% endif %}
{% endfor %}

{% for item in form %}
    {% if item.name in sensor_var_names and item.name != "experiment_id" and item.name != "frequency_unit" %}
        {% if "i." in item.label %}
            <br>
        {% endif %}
        {% if item.name == "frequency" %}
          {{item.label}} <br> {{item}} {{form.frequency_unit}} <br>
        {% else %}
          {{item.label}} <br> {{item}} <br>
        {% endif %}
    {% endif %}
{% endfor %}